// Form
input {
  padding: 8px 20px;
  border: 1px solid $c-line;
  border-radius: 22px;
  font-size: 18px;
  font-weight: 300;
}

// 버튼 Button
.btn_group {
  display: flex;
  justify-content: flex-end;
}
.btn {
  min-width: 90px;

  &.btn_point {
    @include btn('point');

    i {
      color: #fff;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_main {
    @include btn('main');

    i {
      color: #fff;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_sub {
    @include btn('sub');

    i {
      color: #fff;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_dark {
    @include btn('dark');

    i {
      color: #fff;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_line_point {
    @include btn-line('point');

    i {
      color: $c-key;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_line_main {
    @include btn-line('main');

    i {
      color: $c-main;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_line_sub {
    @include btn-line('sub');

    i {
      color: $c-sub;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_line_light {
    @include btn-line('light');

    i {
      color: $c-txt;
    }
    &:disabled {
      @include btn('disabled');
    }
  }
  &.btn_lg {
    display: inline-block;
    width: 150px;
    margin-top: 20px;
    border-radius: 22px;
    font-size: 22px;
    font-weight: 700;
  }
}

// 이미지 없음
.no_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: 1px solid $c-line;
  background: $c-bg;

  .msg {
    width: 100%;
    color: $c-txt-sub;
    font-size: 14px;
    text-align: center;
  }
  .svg-inline--fa {
    display: block;
    margin: 0 auto 10px;
    font-size: 32px;
  }
}

// 검색바
.wrap_search {
  display: flex;
  justify-content: center;

  .inner_search {
    position: relative;
  }
  input {
    width: 350px;
    padding: 10px 45px 10px 20px;
  }
  .btn_search {
    position: absolute;
    right: 0;
    width: 48px;
    height: 42px;
    padding: 8px 10px;

    .material-symbols-rounded {
      font-size: 26px;
      color: $c-title;
    }
  }
}

/* 리스트 */
// 갤러리형 리스트
.list_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;

  > li {
    width: 245px;
    padding: 10px 0;

    a {
      display: block;

      &:hover {
        .gallery_title {
          position: relative;
          color: $c-main;
        }
      }
    }
  }
  .info_gallery {
    padding: 15px 0 20px;

    .wrap_title {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
    }
    .gallery_title {
      @include ellipsis;
      max-width: 180px;
      font-size: 22px;
    }
    .wrap_btn {
      position: absolute;
      right: 0;

      button {
        margin-left: 10px;
        font-size: 21px;
        color: $c-txt-sub;
      }
    }
    .family_genus {
      padding: 12px 0;

      dfn {
        display: block;
        font-size: 14px;
      }
      .orignal_name {
        margin-top: 2px;
        color: $c-txt-sub;
        letter-spacing: -0.02em;
      }
    }
  }
  .count_info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 0;

    > span {
      padding-right: 15px;
      font-size: 14px;
      color: $c-txt-sub;
    }
    .fa-comment-dots {
      transform: scaleX(-100%);
    }
  }
}
.thum_wrap {
  overflow: hidden;
  position: relative;
  width: 245px;
  height: 245px;
  border-radius: 10px;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 370px;
    max-height: 370px;
  }
}

/* 상세페이지 */
// 식물 기본 정보
.card_gallery {
  display: flex;
  padding-bottom: 10px;

  .wrap_img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 520px;
    max-height: 520px;
    border: 1px solid $c-line;
    border-radius: 10px;
    background: $c-bg;
    font-size: 0;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 520px;
    }
    .no_img {
      position: relative;
      border: 0;
    }
  }
  .short_info {
    width: 1080 - 520px;
    padding-left: 30px;

    .wrap_name {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
    .name_info {
      position: relative;
      max-width: 420px;
      padding-bottom: 20px;
      font-size: 24px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        width: 40px;
        height: 3px;
        background: $c-sub;
      }
    }
    .wrap_btn {
      position: relative;

      button {
        margin-left: 14px;
        font-size: 25px;
        color: $c-txt-sub;
      }
    }
    h3 {
      padding-top: 20px;
      font-size: 18px;
    }
    .desc {
      padding-top: 5px;
      white-space: pre-line;
    }
    .original_name {
      font-size: 18px;
    }
    .notice_copy {
      padding-top: 20px;
      font-size: 14px;
      color: $c-txt-sub;
    }
  }
}

// 식물 상세 정보
.card_detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
  margin-bottom: 10px;

  .card {
    border: 1px solid $c-line;
    border-radius: 8px;
    background: #fff;
  }
  .detail_info {
    position: relative;
    width: 100%;

    &[open] {
      .fa-chevron-up {
        transform: rotate(0);
      }
    }
    .fa-chevron-up {
      position: absolute;
      top: 17px;
      right: 15px;
      color: $c-main;
      transform: rotate(-180deg);
      transition: all 0.2s ease-in-out;
    }
    summary {
      cursor: pointer;
      display: block;
      padding: 12px 15px;
      font-size: 20px;
      color: $c-title;
      font-weight: 600;
    }
    .wrap_info_item {
      border-top: 1px solid $c-line;
    }
    .desc {
      white-space: pre-line;
    }
  }
  .info_item {
    padding: 10px 15px;

    .sub_title {
      padding-bottom: 7px;
      font-size: 18px;
    }
    .icon_wrap {
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
      width: 19px;
      height: 19px;
    }
    .material-symbols-rounded {
      margin-top: -2px;
      margin-left: -2px;
      font-size: 23px;
      color: $c-main;
    }
    .svg-inline--fa {
      margin-right: 2px;
      font-size: 19px;
      color: $c-main;
    }
  }
}
