// 리스트
.list_gallery {
  display: flex;
  flex-wrap: wrap;

  > li {
    width: 25%;
    padding: 10px;

    a {
      display: block;
      border: 1px solid $c-line;
    }
  }
}
.thum_wrap {
  img {
    width: 100%;
  }
}
