// 메인 페이지
.main {
  &#wrap {
    background: #fff;
  }
  #container {
    padding-top: 0;
  }

  #header.zero {
    border-bottom: 0;
    background: transparent;

    .logo {
      color: #fff;
    }
    .members {
      li {
        &:not(:first-child)::before {
          content: '';
          background: $c-dark;
        }
        a {
          color: $c-txt-light;

          &:hover {
            color: #fff;
          }
        }
      }
    }
    #gnb {
      > li {
        &.active {
          a {
            color: #fff;
          }
          &::after {
            content: '';
            background: $c-main;
          }
        }
        a {
          color: $c-txt-light;

          &:hover {
            color: #fff;
          }
        }
        &:hover {
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: $c-main;
          }
        }
      }
    }
  }
  .page_title {
    font-size: 38px;
  }
  h2.title {
    font-size: 30px;
  }
  .no_img {
    height: 250px;
  }
  .list_gallery {
    padding-top: 40px;
  }
  .main_slider {
    padding: 0;

    .img_wrap {
      display: flex;
      align-items: center;
      position: relative;
      height: 100dvh;
      background-size: cover;
      background-repeat: no-repeat;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), transparent);
      }
      .slide_content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        width: 1080px;
        margin: 0 auto;
      }
      .slide_title {
        white-space: pre-line;
        font-size: 46px;
        color: #fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        line-height: 130%;
      }
      .slide_desc {
        width: 100%;
        padding-top: 40px;
        font-size: 22px;
        color: #fff;
        text-shadow: 0 0 12px rgba(0, 0, 0, 1);
      }
      .btn {
        margin-top: 40px;
        text-align: center;
      }
    }
  }
}

// 식물 도감 페이지
.wrap_guide_list {
  .page_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .title_wrap {
    text-align: left;

    .title_desc::before {
      content: '';
      left: 0;
      margin-left: 0;
    }
  }
}

// 회원가입
.wrap_join {
  width: 350px;

  .member_header {
    text-align: center;
  }
  h1 {
    display: inline-block;
  }
  .logo {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 27px;
    font-weight: 700;

    img {
      width: 34px;
    }
  }
  .page_title {
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 30px;
    font-size: 26px;
    text-align: center;
  }
  .member_box {
    .form_group {
      position: relative;

      input {
        position: relative;
        z-index: 1;
        padding: 8px 12px 8px 40px;

        &:focus {
          & + .svg-inline--fa {
            color: $c-main;
          }
        }
      }
      .svg-inline--fa {
        position: absolute;
        top: 13px;
        left: 12px;
        font-size: 19px;
        color: $c-txt;
        transition: all 0.2s ease-in;
      }
    }
    .ipt_email {
      .svg-inline--fa {
        font-size: 20px;
      }
    }
    .btn_full {
      margin: 15px 0 8px;
    }
  }
  .google_icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
  }
  .auth_login {
    margin-top: 40px;
  }
  .footer_link {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    li {
      position: relative;

      &:not(:first-child)::before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        width: 1px;
        height: 12px;
        background: $c-line;
      }
      a {
        padding: 7px 15px;

        &:hover {
          color: $c-main;
        }
      }
    }
  }
}

// 404 페이지 없음
.not_found {
  background: $c-bg-light;
  text-align: center;

  h1 {
    padding-bottom: 30px;
    border-bottom: 1px solid $c-line;

    .logo {
      font-size: 32px;
      font-weight: 700;

      img {
        width: 34px;
      }
    }
  }
  .error_title {
    padding-top: 30px;
    font-size: 36px;
    font-weight: 700;
  }
  .error_code {
    display: block;
    padding-bottom: 10px;
    font-size: 70px;
    color: $c-txt-sub;
    font-weight: 700;
    letter-spacing: -0.01em;
  }
  .btn {
    display: inline-block;
    margin-top: 60px;
  }
}
