// 메인 페이지
.main {
  &#wrap {
    background: #fff;
  }

  #header {
    border-bottom: 0;
    background: transparent;
  }
  .page_title {
    font-size: 38px;
  }
  h2.title {
    font-size: 30px;
  }
  .no_img {
    height: 250px;
  }
  .list_gallery {
    padding-top: 45px;
  }
}

// 식물 도감 페이지
.wrap_guide_list {
  .page_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .title_wrap {
    text-align: left;

    .title_desc::before {
      content: '';
      left: 0;
      margin-left: 0;
    }
  }
}
