// main: css.scss

// Noto Sans KR Regular
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Regular.eot');
  src:
    url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
    local(※),
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: 400;
}

// Noto Sans KR Medium
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Medium.eot');
  src:
    url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
    local(※),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: 500;
}

// Noto Sans KR bold
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Bold.eot');
  src:
    url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
    local(※),
    url('../fonts/NotoSansKR-Bold.woff') format('woff'),
    url('../fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: 700;
}

// Noto Sans Korean - font-family: "Noto Sans KR", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300,500,700&display=swap');

// Gothic A1 - font-family: "Gothic A1", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@300,500,700&display=swap');
