// Header Layout ë° NAV
#header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid $c-line;

  .logo {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 65px;

    img {
      vertical-align: text-top;
      margin-right: 5px;
    }
  }
  nav {
    height: inherit;
  }
  #gnb {
    display: flex;
    height: inherit;

    > li {
      display: flex;
      position: relative;

      a {
        display: block;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: 700;
        line-height: 62px;
      }
      &.active {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: $c-main;
        }
      }
    }
  }
}
#container {
  min-height: 100vhd;

  .title_wrap {
    margin: 60px 0 45px;
    text-align: center;
  }
  h1.title {
    font-size: 38px;
  }
  h2.title {
    font-size: 30px;
  }
  .title_desc {
    position: relative;
    padding-top: 30px;
    font-size: 18px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 50%;
      width: 36px;
      height: 2px;
      margin-left: -18px;
      background: $c-sub;
    }
  }
}
.inner {
  max-width: 1080px;
  margin: 0 auto;
}
