html,
body,
#app {
  min-height: 100%;
}
#wrap {
  min-height: 100%;
  background: $c-bg-light;
}

// 맴버 레이아웃(회원가입, 로그인 등)
#wrap_member {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: $c-bg-light;

  .member_box {
    padding: 30px 20px 30px 20px;
    border: 1px solid $c-line;
    border-radius: 10px;
    background: #fff;
  }
}

// Header Layout 및 NAV
#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  min-width: 1080px;
  height: 80px;
  padding: 0 30px;
  border-bottom: 1px solid $c-line;
  background: #fff;
  transition: all 0.1s ease-in;

  .logo {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 79px;

    img {
      vertical-align: text-top;
      margin-right: 5px;
    }
  }
  nav {
    height: inherit;
  }
  .menu_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;

    .members {
      display: flex;
      margin-top: 4px;

      li {
        position: relative;

        &:not(:first-child)::before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: 0;
          width: 1px;
          height: 12px;
          background: $c-line;
        }
      }
      a,
      button {
        display: block;
        padding: 3px 15px;
        color: $c-title;

        &:hover {
          color: $c-main;
          font-weight: 700;
        }
      }
    }
  }
  #gnb {
    display: flex;

    > li {
      display: flex;
      position: relative;

      &.active {
        a {
          color: $c-main;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: $c-main;
        }
      }
      a {
        display: block;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: 700;
        line-height: 42px;

        &:hover {
          color: $c-title;
        }
      }
      &:hover {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: $c-main;
        }
      }
    }
  }
}

// Container
#container {
  min-height: 100dvh;
  padding-top: 80px;
}
section {
  padding: 80px 0;
}

// 텍스트 설정
.title_wrap {
  text-align: center;
}
.page_title {
  font-size: 38px;
}
.content_title {
  font-size: 22px;
}
.sub_title {
  font-size: 16px;
}
.title_desc {
  position: relative;
  padding-top: 30px;
  font-size: 18px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    width: 36px;
    height: 2px;
    margin-left: -18px;
    background: $c-sub;
  }
}
.inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
