// 폰트
$f-basic: 'Noto Sans KR', sans-serif;

// 컬러표
$c-key: #07c566;
$c-main: #0d5226;
$c-sub: #80c28b;
$c-warn: #f74222;

$c-title: #000;
$c-txt: #333;
$c-txt-sub: #666;

$c-dim: rgba(0, 0, 0, 0.6);

$c-line: #d6d6d6;
$c-th-line: #999;

$c-bg: #eaeaea;
$c-bg-light: #f2f2f2;
