// 폰트
$f-basic: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;

// 컬러표
$c-key: #06b15b;
$c-main: #116d33;
$c-sub: #80c28b;
$c-warn: #f74222;
$c-dark: #555;

// 텍스트
$c-title: #000;
$c-txt: #555;
$c-txt-sub: #999;
$c-txt-light: #bbb;

// 딤
$c-dim: rgba(0, 0, 0, 0.6);

// 선
$c-line: #d6d6d6;
$c-line-sub: #e3e6e9;
$c-th-line: #999;

// 배경
$c-bg: #ebedf0;
$c-bg-light: #f8f8fc;

// 검색 필터 컬러
$c-filter-green: #06b15b;
$c-filter-ygreen: #ade94c;
$c-filter-yellow: #f7f328;
$c-filter-gold: #ceb548;
$c-filter-cream: #e6e1ca;
$c-filter-silver: #e0e0e0;
$c-filter-gray: #a0a0a0;
$c-filter-pink: #ff8d8d;
$c-filter-red: #da0000;
$c-filter-wine: #d442bc;
$c-filter-purple: #9242d4;
$c-filter-blue: #418ef3;
$c-filter-orange: #ffa723;
