// 폰트
$f-basic: 'Noto Sans KR', sans-serif;

// 컬러표
$c-key: #07c566;
$c-main: #116d33;
$c-sub: #80c28b;
$c-warn: #f74222;

$c-title: #000;
$c-txt: #555;
$c-txt-sub: #999;

$c-dim: rgba(0, 0, 0, 0.6);

$c-line: #d6d6d6;
$c-line-sub: #e3e6e9;
$c-th-line: #999;

$c-bg: #e3e6e9;
$c-bg-light: #eeeff0;
